<% layout('layouts/boilerplate') %>

<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold text-gray-900">All Tickets</h1>
    <p class="mt-2 text-sm text-gray-700">
      A list of all the tickets available:
    </p>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
    <a
      href="/tickets/new"
      type="button"
      class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
    >
      Add ticket
    </a>
  </div>
</div>
<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div
        class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
              >
                Project
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Title
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Owner
              </th>
              <th
                scope="col"
                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
              >
                Assigned
              </th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only">Details</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <!-- Create new tr per ticket -->
            <% for (let ticket of tickets) {%>
            <tr>
              <!-- Project -->
              <td
                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
              >
                <%= ticket.project %>
              </td>
              <!-- Title -->
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%= ticket.title %>
              </td>
              <!-- Owner -->
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%= ticket.owner %>
              </td>
              <!-- Assigned -->
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                <%= ticket.assigned %>
              </td>
              <td
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
              >
                <a
                  href="/tickets/<%= ticket._id %>"
                  class="text-indigo-600 hover:text-indigo-900"
                  >Details<span class="sr-only">, Lindsay Walton</span></a
                >
              </td>
            </tr>
            <% } %>
            <!-- More tikets.. -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <a
    href="/"
    class="inline-block rounded-lg bg-indigo-600 px-4 mt-8 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700"
  >
    <span class="text-indigo-200" aria-hidden="true">&larr;</span>
    Back to Homepage
  </a>
</div>
